html {
    box-sizing: border-box;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    background-color: rgb(253, 248, 240);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    text-align: center;
    background-color: #ff9500;
}

li {
    margin-bottom: 4px;
}

a {
    min-width: 44px;
    max-height: 44px;
}

img {
    border: 3px solid #ffc800;
}

.home-link {
  text-align: center;
}

.recipe-card {
    background-color: rgb(255, 174, 0);
    margin: auto;
    padding: 16px;
    width: fit-content;
}